.shipDetail-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}

.actionButtons{
  margin-top: 10px;
  width: 55%;
  display: flex;
  justify-content: space-between;
}

#shipDetail{
  padding: 16px 24px
}